body{
    margin: 0; 
    background-color: #e9ece1;
}
.div{
    background-image: url(/images/nithish.jpg);
    background-size: cover;
    height: 590px;
    width:600px;
    margin-top: 50px;

}
.main{
    display: flex;
}
.nav{
    display: flex;
}
a{
    margin-right: 40px;
    padding-top: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
 h3{
    padding-top: 10px;
    margin-right: -350px;
    margin-left: 50px;
} 

.primary{
    width:550px;
    margin-top: 250px;
    margin-left: 185px;
}
span{
    border: 2px solid green;
    padding: 10px;
    background-color: green;
    color: white;
}
.p1{
    padding-bottom: 20px;
}
#img{
    height: 20px;
    width:20px;
    margin-left: -200px;
}
#img1{
    padding-left: 30px; 
    margin-left: -200px;
    height: 20px;
    width:20px
}
.sp{
    margin-left: -140px;
}
.div:hover{
    background-image: url(/images/welcomegif.gif);
    background-size: cover;
}